@import "~bootstrap/scss/bootstrap";

body {
  height: 100%;
  margin: 0;
  background-image:
    linear-gradient(
      to top, 
      black,  #fa7670
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
}